[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
matplotlib = "*"
mkdocs = "*"
numpy = "*"
pip = "*"
python-dotenv = "*"
"project_pwc" ={editable = true, path = "."}
pandas = "*"
typer = "*"
tqdm = "*"
seaborn = "*"
notebook = "<7"
jupyter-contrib-nbextensions = "*"
scipy = "*"
scikit-learn = "==1.4.0"
xgboost = "==2.1.3"
fastapi = "*"
pydantic = "*"
pytest = "*"
streamlit = "*"
optuna = "*"
loguru = "*"

[requires]
python_version = "3.13"

[dev-packages]
